.app-logo{
 margin: 0px 0px 40px 15px;
}
.reset-container Button{
 display: flex;
 margin-left: 180px;
 background-color: rgb(241, 181, 0);
 align-content: center;
 color: grey;
}
.reset-container Button:hover{
background-color: grey;
color:rgb(241, 181, 0);

}
.reset-container a{
    display: flex;
    text-decoration: none;
    margin-left: 205px;
    color:rgb(241, 181, 0);
}
.reset-container a:hover{
    display: flex;
    text-decoration: none;
    margin-left: 205px;
    color:rgb(241, 181, 0);
}
